<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registration-form.css}">
    <title>Create an account</title>
</head>
<body>
<div layout:fragment="content" class="d-flex justify-content-center align-items-center bg-light"
     style="min-height: 80vh;">

    <div class="register-container bg-white">
        <form class="signup-form form-horizontal" action="#" th:action="@{/register}"
              th:object="${webUser}"
              method="POST">

            <!-- Place for messages: error, alert etc ... -->
            <div class="form-group">
                <div class="col-xs-15">
                    <div>

                        <!-- Check for login error -->

                        <div th:if="${param.registrationError}">

                            <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                <span th:text="${param.registrationError}"></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!--            Name -->
            <h1 class="fw-bold fs-4">Create Account</h1>
            <div class="d-flex" style="gap: 10px;">
                <input type="text" th:field="*{firstName}" placeholder="First Name" required>
                <input type="text" th:field="*{lastName}" placeholder="Last Name" required>
            </div>

            <div th:if="${#fields.hasErrors('firstName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}"/>
                </ul>
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}"/>
                </ul>
            </div>


            <!--        Email/UserName -->
            <input type="email" th:field="*{userName}" placeholder="Email" required>


            <div th:if="${#fields.hasErrors('userName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="'Email ' + ${err}"/>
                </ul>
            </div>


            <!--        Password -->
            <input type="password" id="password" th:field="*{password}" placeholder="Password" required>

            <!--            <div id="password-error" style="margin-bottom: 25px" class="text-danger"></div>-->

            <div th:if="${#fields.hasErrors('password')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"/>
                </ul>
            </div>


            <!--            Confirm Password -->
            <input type="text" id="confirm-password" placeholder="Confirm Password" required>

            <!--            <div id="confirm-password-error" style="margin-bottom: 25px" class="text-danger"></div>-->


            <!--            Mobile Number-->
            <input type="tel" th:field="*{phoneNumber}" placeholder="Mobile Number" required>

            <div th:if="${#fields.hasErrors('phoneNumber')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="'Mobile Number ' + ${err}"/>
                </ul>
            </div>

<!--            Submit Button -->
            <button type="submit" class="btn btn-primary mb-2 fw-medium">Create Account</button>
        </form>
        <p class="text-secondary">Already a member? <a th:href="@{/login}" class="text-primary fw-semibold">Login</a>
        </p>
    </div>

</div>
</body>
</html>