<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>

<div layout:fragment="content">
    <section class="my-4">
        <div class="container">
            <section class="about">
                <h2>About Us</h2>
                <p>Welcome to eBook Store, your number one source for all things eBooks. We're dedicated to providing you with the very best digital books, with a focus on quality, variety, and customer satisfaction.</p>

                <h3>Our Mission</h3>
                <p>At eBook Store, our mission is to make reading accessible and enjoyable for everyone. We believe in the power of books to educate, entertain, and inspire, and we're committed to offering a vast selection of eBooks that cater to all tastes and interests.</p>

                <h3>Our Story</h3>
                <p>Founded in 2020, eBook Store started with a simple idea: to create a digital space where readers could easily find and enjoy their favorite books. Since then, we've grown into a leading eBook retailer, known for our user-friendly platform and extensive catalog.</p>

                <h3>Meet the Team</h3>
                <p>Our team is made up of passionate book lovers and technology enthusiasts who work tirelessly to bring you the best eBook experience possible. From our customer service representatives to our tech developers, every member of our team is dedicated to your satisfaction.</p>

                <h3>Contact Us</h3>
                <p>If you have any questions or feedback, feel free to reach out to us at <a href="support@epicreads.com">support@epicreads.com</a>.</p>
            </section>
        </div>
    </section>
</div>

</body>
</html>