<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Delivery Address</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container my-3">
        <div class="row mx-0 justify-content-center">
            <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
                <form
                        th:action="@{/payment/create-order}"
                        method="POST"
                        class="w-100 rounded-3 p-4 border bg-white"
                        style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;"
                >
                    <h5 class="mb-2 fw-bold">Billing Details</h5>

                    <hr class="mb-2">

                    <label class="d-block mb-2">
                        <span class="form-label d-block">Address</span>
                        <input
                                name="address1"
                                type="text"
                                class="form-control"
                                required
                        />
                    </label>

                    <label class="d-block mb-2">
                        <span class="form-label d-block">Landmark</span>
                        <input
                                name="address2"
                                type="text"
                                class="form-control"
                                required
                        />
                    </label>

                    <label class="d-block mb-2">
                        <span class="form-label d-block">City</span>
                        <input name="city" type="text" class="form-control" required/>
                    </label>

                    <label class="d-block mb-2">
                        <span class="form-label d-block">State</span>
                        <input name="state" type="text" class="form-control" required/>
                    </label>

                    <label class="d-block mb-2">
                        <span class="form-label d-block">Postal code</span>
                        <input name="zip" type="number" class="form-control" required/>
                    </label>

                    <!-- Hidden Fields for Cart Items -->
                    <div th:if="${cart.items != null}">
                        <div th:each="item, iterStat : ${cart.items}">
                            <input type="hidden" th:name="items[__${iterStat.index}__].book.id"
                                   th:value="${item.book.id}"/>
                            <input type="hidden" th:name="items[__${iterStat.index}__].quantity"
                                   th:value="${item.quantity}"/>
                        </div>
                    </div>

                    <div class="mb-2">
                        <button type="submit" class="btn btn-primary px-3 rounded-3 mt-1">
                            Place Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
